.footer {
    flex: 0 0 auto;
    padding: 50px 0 20px 0;
}

.footer__info {
    color: black;
    font-size: 0.7rem;
    text-align: center;
}

@media ( min-width: 560px ) {
    .footer__info {
        text-align: right;
    }
}